.card {
  background: #FAF9F6;
  padding: 20px;
  margin:5px;
  border: 1px solid black;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 8px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.editButton {
  color: black;
  border: 2px solid gray;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteButton {
  color: black;
  border: 2px solid red;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}